@import "normalize.styl"

@font-face {
    font-family: 'montserrathairline';
    src: url('montserrat-hairline-webfont.eot');
    src: url('montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-hairline-webfont.woff2') format('woff2'),
         url('montserrat-hairline-webfont.woff') format('woff'),
         url('montserrat-hairline-webfont.ttf') format('truetype'),
         url('montserrat-hairline-webfont.svg#montserrathairline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('montserrat-light-webfont.eot');
    src: url('montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-light-webfont.woff2') format('woff2'),
         url('montserrat-light-webfont.woff') format('woff'),
         url('montserrat-light-webfont.ttf') format('truetype'),
         url('montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

azul_oscuro = #3c496a
gris = #958f77
a 
	text-decoration none	
body
	font-size 16px
	
	
figure
	margin 0

h1
	font-family "montserratlight", sans-serif;	
	color azul_oscuro
h2
	color azul_oscuro
	font-family "montserratlight", sans-serif;
	font-weight normal
	-webkit-margin-before 0
	-webkit-margin-after 0
p
	font-family "montserratlight", sans-serif;


.menu
	display none
	
.header
	height 6.25em
	border-color azul_oscuro		
	border-bottom-style solid	
	border-width 1px		
	box-shadow 0 4px 6px -6px azul_oscuro
	
	.logo
		width 100%
		.image
			padding-top 1em
			display block
			text-align center

.foto_carrousel
	
	.image
		
		img
			max-height 100%
			max-width 100%
			border-color azul_oscuro
			border-bottom-style solid
			border-width 1px
			box-shadow 0 4px 6px -6px azul_oscuro
		
	
.contenedor_menu
	border-bottom-style solid
	border-width 1px
	border-color gris
	box-shadow 0 4px 10px -6px gris
	position relative
	padding 0 0 0 0
	width 100%
	height 2.5em
	text-align center
	
	
	h2
		margin-top 0.8em
		
		font-size 24px

.quisom
	h2
		font-family "montserrathairline", sans-serif;
		margin-top 0.5em
	.quisomp
		display none
.Serveis
	.title
		display none
	.contenedor_menu
		text-align left 
		border-color #958f77
		height 2.8em
		.boton_servei
			margin-left 1.8em
			margin-top auto
			margin-bottom auto
			p 
				display none
			img
				display none
	
	figure
		display none
		
footer
	padding-top 1em
	background-color azul
	
	p 
		font-size 13px
		background-color azul
		
	.contacte
		background-color gris
		border-radius 3px
		margin 0 8em 0 8em 
		padding 0.3em 0 0.3em 0
		text-align center
		font-weight 100
		a
			color white
	.dades
		text-align center
		background azul


.serv_content
	border-color azul_oscuro		
	border-bottom-style solid	
	border-width 1px		
	box-shadow 0 4px 6px -6px azul_oscuro
	padding 0 2.5em 0.7em 2.5em
	text-align justify
	.foto_carrousel
		display none
	.serv_p2
		display none


@media screen and (min-width:648px)
	.header
		margin 0 auto
		max-width 1000px
		.logo
			width 35%
			float left
			.image
				padding-top 0.8em
				padding-left 2em

		.menu
			font-family "montserratlight", sans-serif;
			margin-top 1.5em
			display inline
			float right
			li 
				color azul_oscuro
				display inline
				padding-left 0
				padding-right 30px
			li#contacto_nav
				color gris
				
	.foto_carrousel
		
		
		text-align center
		margin 0 auto
		width 100%
		
		.image
		
		img
			max-height 100%
			max-width 100%
			
			box-shadow 0 4px 6px -6px azul_oscuro
	.quisom
		text-align center
		border-color azul_oscuro		
		border-style solid	
		border-width 0px 1px 0px 1px
		border-left	
		box-shadow 0 4px 6px -6px azul_oscuro
		max-width 1000px
		margin 0 auto
		
		
		.contenedor_menu
			text-align center
			position relative
			height 100%
			width 100%
			border-bottom-style none
			box-shadow 0 0 0 0
			
			margin 3em auto
			
			h2
				margin-left 4.9em
				text-align left
				font-family "montserratlight", sans-serif;
		
			.quisomp
				display inline-block
				width 100%
				max-width 763px
				text-align justify
				margin 0 auto



	.Serveis
		padding-left 5%
		text-align center
		
		height 32.8em
		
		margin 0 auto
		.title
			text-align left
			display inline
			
		.contenedor_menu
			float left
			width 11.8em
			height 25em
			margin-right  10%
			a
				h2
					
					margin-left 0
			.boton_servei
				text-align justify
				margin-left 0
				p 
					color black
					display inline
					font-size 14px
				img
					display inline


	footer
		.contacte
			display none


	.serv_content
		text-align left
		border-color azul_oscuro		
		border-bottom-style solid	
		border-width 1px		
		box-shadow 0 4px 6px -6px azul_oscuro
		max-width 1000px
		margin 0 auto
		.foto_carrousel
			display inline
			figure
				margin-bottom 1em
		.serv_p2
			display inline
			margin-top 1em
		


